aiohttp
async-timeout
atomicwrites
attrs
cchardet
future
idna
idna-ssl
importlib-metadata
more-itertools
multidict
packaging
pluggy
py
pycares
pycparser
pycryptodome
pyparsing
pytest
pytest-aiohttp
six
SQLAlchemy
typing
typing-extensions
uuid
wcwidth
yarl
zipp