aiodns
async-timeout
atomicwrites
attrs
cffi
chardet
future
idna
idna-ssl
importlib-metadata
more-itertools
packaging
pluggy
psycopg2
py
pycares
pycparser
pycryptodome
pyparsing
pytest
six
SQLAlchemy
typing
typing-extensions
uuid
wcwidth
zipp